DATABASE_URL=postgres://username:password@host/dbname?sslmode=require

MONGODB_URI=mongodb+srv://username:password@cluster0.xxxxx.mongodb.net/?retryWrites=true&w=majority

ADMIN_USERNAME=admin
ADMIN_PASSWORD=yourpassword

ADMIN_SESSION_SECRET=yoursecretkey